<!-- <html>

    <head>
        <title> <%= title %> </title>
    </head>

    <body>

        partials
        <%- include('./_header'); -%> -->
        <link rel="stylesheet" href = "/css/home.css">
        Hello 
<!-- 
        partials
        <%- include('./_footer'); -%>

    </body>

</html> -->