<!-- <html>

    <head>
        <title> <%= title %> </title>
    </head>

    <body>

        partials
        <%- include('./_header'); -%> -->
        
        Profile

        <!-- partials -->
        <!-- <%- include('./_footer'); -%>
        
    </body>

</html> -->